.name-link[data-v-eadea258] {
  margin-left: 2%;
}
.name-link h1[data-v-eadea258] {
  color: #f03a47;
  float: left;
  font-size: 25px;
}
.name-link h1 span[data-v-eadea258] {
  color: #4caf50;
  font-size: 25px;
}
.navigation-bar[data-v-eadea258] {
  overflow: hidden;
}
.navigation-bar div[data-v-eadea258] {
  margin-left: 5%;
}
.navigation-bar a[data-v-eadea258] {
  float: left;
  color: #fff;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0.7%;
  margin-right: 0.5%;
}
.navigation-bar a[data-v-eadea258]:hover {
  background-color: #4caf50;
  color: #f9f9f9;
}
.navigation-bar .router-link-active[data-v-eadea258] {
  background-color: #f03a47;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .navigation-bar #nav-links.responsive[data-v-eadea258],
  .navigation-bar .menu-icon[data-v-eadea258] {
    display: block;
  }
  .navigation-bar #nav-links a[data-v-eadea258] {
    float: left;
    display: block;
    text-align: center;
    font-size: 15px;
  }
  .name-link h1 span[data-v-eadea258],
  .name-link h1[data-v-eadea258] {
    font-size: 18px;
    margin-top: 1.5%;
  }
}
.footer {
  margin-top: 5%;
}
.footer p {
  color: #fff;
  text-align: center;
}
.footer p span {
  color: red;
}
* {
  background: #000;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4caf50;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f03a47;
}
.welcome-section {
  margin-top: 1%;
  align-items: center;
  text-align: center;
}
.welcome-section h1 {
  color: #4caf50;
}
.welcome-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.about-section {
  margin-top: none;
  align-items: center;
}
.about-section h1 {
  color: #f03a47;
  text-align: left;
  padding-left: 20%;
  text-decoration: underline;
}
.about-section p {
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
  color: #fff;
}
.about-section p span {
  color: #4caf50;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.tab {
  margin-top: 3%;
  color: #f03a47;
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px #fff;
  outline: #fff;
  font-size: 18px;
}
.tab.active {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
}
.tab-content {
  text-align: center;
}
.resume-button button {
  margin-top: 2%;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.resume-button button:hover {
  background-color: #f03a47;
}
.social-icons {
  text-align: center;
  margin-top: 2%;
}
.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 32px;
  color: #fff;
}
.social-icons a i {
  transition: color 0.3s;
}
.social-icons a i:hover,
h1 {
  color: #f03a47;
}
.contact-info,
p span {
  text-align: center;
}
p {
  color: #fff;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
}
h1,
p span {
  color: #4caf50;
}
h2 {
  color: #f03a47;
}
